body {
	text-align: center;
}

header {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid black;
	line-height: 30px;
}

header a {
	font-weight: bold;
	color: red;
	font-size: 20px;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
}

#pages {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid black;
}

#pages a {
	color: red;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
}

#gallery {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}


#gallery tr {
	max-height: 200px;
	overflow-x: scroll;
	overflow-y: scroll;
}

#gallery td {
	overflow-x: scroll;
	overflow-y: scroll;
	max-height: 200px;
	border: 1px solid black;

}


html {
/*    background: #111111;
	background: linear-gradient( #333, #000);*/

    height: 100%;
}
canvas {
    display: none;
}

#startbutton {
    display: block;
    float: left;
    border: 10px solid #fff;
    border-radius: 10px;
	background-color: red;
	border: none;
	color: #fff;
	margin: 100px 20px 20px 20px;
	padding: 10px 20px;
	font-size: 20px;

}

#photo
{
 display: block;
    float: left;
    border: 10px solid #fff;
    border-radius: 10px;
}

#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#video {
    width: 500px;
    height: 375px;
    background-color: #666;
}
/*********   Image Picker      **********/


label > input{ /* HIDE RADIO */
  display:none;
}
label > input + img{ /* IMAGE STYLES */

  border-radius: 10px;
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid green;
}

.choiceImg {

    width: 70px;
    height: 50px
}

/***********     upload img   *****************/

#myImg {

    width: 500px;
    height: 375px;
    background-color: #666;
    display : none;
}
